.Home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:cadetblue;
    padding: 10px;
}
.Home>img{
    width: 350px;
    height: 650px;
    border-radius: 50%;
}